div#header.row.text-center
    div#logo
        span#danger
            span.d1.animated.bounceInDown H
            span.d2.animated.bounceInDown a
            span.d3.animated.bounceInDown w
            span.d4.animated.bounceInDown k
            span.d5.animated.bounceInDown l
            span.d6.animated.bounceInDown i
        span#zone
            span.z7.animated.bounceInDown t
            span.z8.animated.bounceInDown h
            span.z9.animated.bounceInDown m
    nav#main-nav
        ul.list-unstyled.list-inline
            li
                a#demo-1.animated.btn.btn-danger(href='index.html') Demo 1
            li
                a#demo-2.animated.btn.btn-danger(href='two.html') Demo 2
            li
                a#demo-3.animated.btn.btn-danger(href='three.html') Demo 3